{% extends '::base.html.twig' %}

{% block body %}
   <h2>Messagerie</h2>
  {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="succes">
                    <span>{{ flashMessage }}</span>
                    <div class="clear"></div>
                </div>
            {% endfor %}
   <a class="black" href="{{ path('messagerie_new_msg') }}">Nouveau message</a>
   <hr />
   <a class="black" href="{{ path('messagerie_inbox') }}">Boite de réception</a> | <a class="black" href="{{ path('messagerie_send') }}">Envoyé</a> 
   <hr />

   <table border="1">
   	<tr>
   		<th>De</th>
   		<th>Message</th>
   		<th>Répondre</th>
   		<th>Supprimer</th>
   		<th>Lu</th>
   	</tr>
   	{% for msg in list_msg %}
        <tr>
        	<td>{{ msg.expediteur}}</td>
        	<td><a href="{{ path('messagerie_view', { "id": msg.id }) }}">{{ msg.msg }}</a></td>
        	<td><a href="{{ path('messagerie_new_msg_user', { "user": msg.expediteur }) }}">Répondre</a></td>
        	<td><a href="{{ path('messagerie_delete', { "id":msg.id }) }}">Supprimer</a></td>
        	<td>
        		{% if msg.lu == true %}
    				oui
    			{% else %}
    				non
				{% endif %}
			</td>
        </tr>
    {% endfor %}
   </table>

{% endblock %}