{% extends '::base.html.twig' %}

{% block body %}
   <h2>Messagerie</h2>
   <a class="black" href="{{ path('messagerie_new_msg') }}">Nouveau message</a>
   <hr />
   <a class="black" href="{{ path('messagerie_inbox') }}">Boite de réception</a> | <a class="black"  href="{{ path('messagerie_send') }}">Envoyé</a> 
   <hr />

   {% for flashMessage in app.session.flashbag.get('notice') %}

	    {{ flashMessage }}

	{% endfor %}

   <table border="1">
   	<tr>
   		<th>A</th>
   		<th>Message</th>
   		<th>Supprimer</th>
   		<th>Lu</th>
   	</tr>
   	{% for msg in list_msg %}
        <tr>
        	<td>{{ msg.destinataire }}</td>
        	<td><a href="{{ path('messagerie_view', { "id": msg.id }) }}">{{ msg.msg }}</a></td>
        	<td><a href="{{ path('messagerie_delete', { "id":msg.id }) }}">Supprimer</a></td>
        	<td>
        		{% if msg.lu == true %}
    				oui
    			{% else %}
    				non
				{% endif %}
			</td>
        </tr>
    {% endfor %}
   </table>

{% endblock %}