{% extends '::base.html.twig' %}

{% block body %}
	<ul id="annonces-liste">
		{% for annonce in listeAnnonces %}
			<li>
				<table>
					<tr>
						<td class="img-user">
							<img src="#" alt="Avatar de l'utilisateur"><br/>
							<span class="pseudo-utilisateur">Nom de l'utilisateur</span>
						</td>
						<td class="annonce-preview">
							<h3><a href="{{ path('m2l_annonces_view', { 'id' : annonce.id }) }}">{{ annonce.titre }}</a></h3>
							<p>
								<span>Ligue</span><br/>
								<span>Description :</span><br/>
								{{ annonce.description | slice(0,350) }}... <a href="{{ path('m2l_annonces_view', { 'id' : annonce.id }) }}">Voir plus</a>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="annonce-date">
							<span>
								{{ annonce.date | date("d/m/Y") }}
							</span>
						</td>
					</tr>
				</table>
			</ii>
		{% endfor %}
	</ul>
{% endblock %}