{% extends '::base.html.twig' %}

{% block body %}
	<div id="annonce-view">
		<table>
			<tr>
				<th colspan="2">
					<h3>{{ annonce.titre }}</h3>
				</th>
			</tr>
			<tr>
				<td class="img-user">
					<div>
						<span class="pseudo-utilisateur">{{ user.username }}</span><br/>
						<img src="#" alt="Avatar de l'utilisateur">
					</div>
				</td>
				<td>
					<div class="annonce-preview">
						<p>
							<span>{{ ligue.nom }}</span><br/>
							<span>Ville :</span><br/>
							<span>Description :</span><br/>
							{{ annonce.description }}
						</p>
						<p>
							<a href="#">Envoyer un message</a>
						</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="annonce-date">
					<span>
						{{ annonce.date | date("d/m/Y") }}
					</span>
				</td>
			</tr>
		</table>
	</div>
{% endblock %}